* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --main: #00aaa9;
  --secondary: #28161c;
  --third: #ed5e93;
  --text: #b9b9b9;
  --bg: #4f4350;
}

body {
  background-size: cover;
  background-image: linear-gradient(to right top, #00aaa9, #00a5d5, #5c95e9, #bb79d2, #ed5e93);
  height: 100vh;

}

.App {

  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 50px;
  align-items: center;


}

form {
  text-align: left;
  margin: 0 auto;
  width: 500px;
}

.name-container {
  display: flex;
  justify-content: space-around;
}

.name-container-others {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.input-container {
  margin-bottom: 20px;
}

.btn-content {
  display: flex;
  justify-content: space-evenly;
}

.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: var(--secondary);
  color: var(--text);
  border: none;
}

.input-container textarea {
  width: 100%;
}

::placeholder {
  color: var(--text);
  opacity: 1;
}

.card-container {
  display: flex;
  width: 100vh;
  justify-content: space-between;
  text-align: left;
  text-transform: uppercase;
  background: white;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}

.card-btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-btn-container button {
  border-radius: 50%;
  padding: 10px;
}

button {
  padding: 15px;
  background: var(--bg);
  color: var(--text);
  border-radius: 7px;
  border: none;
}

button:hover {
  background: var(--third);
  color: black;
}

.users-list button {
  background: none;
}

.users-list button:hover {
  color: red;
}

.input-container input:hover {
  color: white;
  background: var(--main);
}



.users-list {
  text-decoration: none;
  background-image: none;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  margin-top: 50px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

@media (max-width: 1000px) and (min-width: 501px) {


  .App {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .App {
    grid-template-columns: 1fr;
  }

  form {
    text-align: left;
    margin: 0 auto;
    width: 300px;
  }

  h1 {
    font-size: 20px;
  }

  .card-container {
    flex-wrap: wrap;
    padding: 15px;
    font-size: 10px;
    flex-direction: column;
  }

  .name-container {
    gap: 10px;
  }

  .card-btn-container {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    border-radius: 50px;
  }
}

@media (max-width: 400px) and (min-width: 0px) {
  html {
    height: 100%;
    background-size: cover;
  }

  .App {
    grid-template-columns: 1fr;
  }

  form {
    text-align: left;
    margin: 0 auto;
    width: 200px;
  }

  .card-container {
    width: 100%;
    font-size: 10px;
  }

  .users-list {
    margin: 0;
    padding: 0;
  }

  .input-container {
    display: flex;
    gap: 10px;
  }

  .input-container input {
    font-size: 10px;
  }

  button {
    padding: 5px;
    font-size: 10px;
  }

  .users-list {
    padding: 20px;
  }
}
